name: 1-Issues-Event
on: 
  issues:
      types:
        - edited
        - deleted
  workflow_dispatch:
jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Event details
        run: echo "${{toJSON(github)}}"
  